<xml>
	<ParameterSet Name="Camera" ParameterCount="3" Expanded="0">
		<Parameter Name="Distance" Value="124.239136" MinValue="5.000000" MaxValue="100.000000" DefaultValue="30.000000"/>
		<Parameter Name="Height" Value="42.912838" MinValue="-100.000000" MaxValue="100.000000" DefaultValue="50.000000"/>
		<Parameter Name="TargetHeight" Value="9.246690" MinValue="-100.000000" MaxValue="100.000000" DefaultValue="5.000000"/>
	</ParameterSet>
	<ParameterSet Name="View0" ParameterCount="3" Expanded="0">
		<Parameter Name="PanX" Value="0.000000" MinValue="-100.000000" MaxValue="100.000000" DefaultValue="100.000000"/>
		<Parameter Name="PanY" Value="0.000000" MinValue="-100.000000" MaxValue="100.000000" DefaultValue="100.000000"/>
		<Parameter Name="Zoom" Value="16.328415" MinValue="0.100000" MaxValue="100.000000" DefaultValue="20.000000"/>
	</ParameterSet>
	<ParameterSet Name="View1" ParameterCount="3" Expanded="0">
		<Parameter Name="PanX" Value="0.365588" MinValue="-100.000000" MaxValue="100.000000" DefaultValue="100.000000"/>
		<Parameter Name="PanY" Value="2.120409" MinValue="-100.000000" MaxValue="100.000000" DefaultValue="100.000000"/>
		<Parameter Name="Zoom" Value="35.827629" MinValue="0.100000" MaxValue="100.000000" DefaultValue="20.000000"/>
	</ParameterSet>
	<ParameterSet Name="View2" ParameterCount="3" Expanded="0">
		<Parameter Name="PanX" Value="-10.158100" MinValue="-100.000000" MaxValue="100.000000" DefaultValue="100.000000"/>
		<Parameter Name="PanY" Value="0.229085" MinValue="-100.000000" MaxValue="100.000000" DefaultValue="100.000000"/>
		<Parameter Name="Zoom" Value="17.148468" MinValue="0.100000" MaxValue="100.000000" DefaultValue="20.000000"/>
	</ParameterSet>
	<ParameterSet Name="View3" ParameterCount="3" Expanded="0">
		<Parameter Name="PanX" Value="-6.535223" MinValue="-100.000000" MaxValue="100.000000" DefaultValue="100.000000"/>
		<Parameter Name="PanY" Value="5.569474" MinValue="-100.000000" MaxValue="100.000000" DefaultValue="100.000000"/>
		<Parameter Name="Zoom" Value="26.243156" MinValue="0.100000" MaxValue="100.000000" DefaultValue="20.000000"/>
	</ParameterSet>
</xml>